.entity-container {
    position: relative;
}

.add-record-dialogue-area {
    margin-bottom: 30px;
    height: 50px;
}

.list-overview {
    margin: 30px 10px;
    border: 2px solid rgba(0,0,0,.5);
}

.detail-overview {
    margin: 30px 10px;
    border: 2px solid rgba(0,0,0,.5);
}