<div>
  <md-card>
    <md-card-header>
      <md-card-title>Playground</md-card-title>
      <md-card-subtitle>Playground input card with JSON controls</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <tht-controls *ngFor="let control of controls" [control]='control'></tht-controls>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>Charts playground</md-card-title>
      <md-card-subtitle>Different kinds of charts can be tried here</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      
    </md-card-content>
  </md-card>
</div>