<div class="controls-container" [ngSwitch]="true">
   <span class="tht-date-input" *ngSwitchCase="control.ControlType === 'DateTimeControl'">
    <md-form-field class="tht-input-container">
        <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" name="ModelName" required="control.RequiredLevel" [(ngModel)]="control.Value">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
    </md-form-field>
  </span>
  <span class="tht-input-field" *ngSwitchCase="control.ControlType === 'InputFieldControl'">
    <md-form-field class="tht-input-container">
      <md-icon class="suffix-icon" *ngIf="control.Prefix !== null" mdPrefix>{{control.Prefix}} &nbsp;</md-icon>
      <input mdInput placeholder="{{control.Placeholder}}" type="text" name="ModelName" required="control.RequiredLevel" [(ngModel)]="control.Value">
    </md-form-field>
  </span>
  <span class="tht-input-field" *ngSwitchCase="control.ControlType === 'NumberControl'">
    <md-form-field class="tht-input-container">
        <md-icon class="suffix-icon" mdPrefix>{{control?.Prefix}} &nbsp;</md-icon>
      <input mdInput placeholder="{{control.DisplayName}}" type="number" name="ModelName" required="control.RequiredLevel" [(ngModel)]="control.Value">
      <md-hint [align]="start">{{ control?.Hint }}</md-hint>
    </md-form-field>
  </span>
  <p class="tht-textarea" *ngSwitchCase="control.ControlType === 'TextAreaControl'">
      <md-form-field class="tht-input-container">
        <textarea mdInput placeholder="{{control.DisplayName}}" name="ModelName" required="control.RequiredLevel" [(ngModel)]="control.Value"></textarea>
        <md-hint [align]="start">{{ control?.ToolTip }}</md-hint>
      </md-form-field>
    </p>
  <span class="tht-checkbox-control" *ngSwitchCase="control.ControlType === 'CheckBoxControl'">
    <div class="check-box-container"  *ngFor="let option of control.Options" >
    <md-checkbox class="tht-checkbox-control" [labelPosition]="control.LabelPositions" name="ModelName" required="control.RequiredLevel" [(ngModel)]="option.Value"> {{ option.value
       }} </md-checkbox>
       </div>
  </span>
  <span class="tht-radio-button-control" *ngSwitchCase="control.ControlType === 'RadioButtonControl'">
    <div class="tht-radio-button-control-type">
      <span class="tht-radio-button-control-group" *ngIf="control.RadioButtonConfig === RadioButtonGroupDisplay">
        <md-radio-group class="tht-radio-button-group-control">
          <md-radio-button class="tht-radio-button" *ngFor="let option of control.Options" [align]="LabelPosition">
          </md-radio-button>
        </md-radio-group>
      </span>
      <span class="tht-single-instance-radio-button" *ngIf="RadioButtonConfig === RadioButtonSingleInstance">
          <md-radio-button class="tht-radio-button" [align]="LabelPosition">
          </md-radio-button>
      </span>
    </div>
  </span>
  <span class="tht-picklist-control" *ngSwitchCase="control.ControlType === 'PickListControl'">
  </span>
  <span class="tht-slider-control" *ngSwitchCase="control.ControlType === 'SliderControl'">
    <md-slider  [min]="Minimum_Value" 
                [max]="Maximum_Value" 
                [step]="Step_Value" 
                [thumb-label]="ThumbLabel" 
                [tick-interval]="TickInterval">
    </md-slider>
  </span>
  <span class="tht-toggle-control" *ngSwitchCase="control.ControlType === 'ToggleControl'">
    <md-slide-toggle  class="tht-toggle-control"
                      [color]="ColorSelection"
                      [labelPosition]="LabelPosition"
                      [name]="Name"
                      [required]="RequiredLevel"
                      [id]="Id">
                      {{ DisplayName }}
    </md-slide-toggle>
  </span>
  <span class="tht-button-control" *ngSwitchCase="control.ControlType === 'ButtonControl'">
  </span>
  <span class="tht-chip-control" *ngSwitchCase="control.ControlType === 'ChipControl'">
    <!-- Ik werk zodra ik iets heb geplaatst van ChipControl material -->
    <md-form-field class="demo-chip-list tht-input-container">
        <md-chip-list mdPrefix #chipList>
          <md-chip *ngFor= "let ingredient of control.Value"
                   [selectable]="selectable"
                   [removable]="removable" 
                   (remove)="remove(ingredient)">{{ingredient.name}}
            <md-icon mdChipRemove *ngIf="removable">cancel</md-icon>
          </md-chip>
        </md-chip-list>
        <input mdInput placeholder="New ingredient..."
               [mdChipInputFor]="chipList"
               [mdChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [mdChipInputAddOnBlur]="addOnBlur"
               (mdChipInputTokenEnd)="add($event)" />
      </md-form-field>
  </span>
  <span class="tht-default-control" *ngSwitchDefault>
    Default Control
    </span>
</div>