<md-card>
    <md-card-header>
        <div md-card-avatar></div>
        <md-card-title>
            {{ recipe.recipe_name }}
        </md-card-title>
        <md-card-subtitle>
            {{ recipe.user_name }}
        </md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <div class="ingredients-container">
            <h6>Ingredients</h6>
                <div class="column" id="firstColumn" *ngFor="let ingredient of ingredients; let i = index">
                    <div *ngIf="i < 4">
                        <p>{{ingredient.name}}</p>
                    </div>
                </div>
                <div class="column" id="secondColumn" *ngFor="let ingredient of ingredients; let i = index">
                    <div *ngIf="7 < i > 3">
                        <p>{{ingredient.name}}</p>
                    </div>
                </div>
                <div class="column" id="thirdColumn" *ngFor="let ingredient of ingredients; let i = index">
                    <div *ngIf="i > 7">
                        <p>{{ingredients[8]?.name}}</p>
                    </div>
                </div>
                <div class="detail-text">
                    {{selectedRecord.record.preparation}}
                </div>
        </div>
    
    </md-card-content>
</md-card>

<!-- 
    <md-list>
                    <md-list-item class="detail-ingredient-list" *ngFor="let ingredient of ingredients; let i = index">
                        <p md-line>{{ingredient.name}}</p> <!--&nbsp; ({{ingredient.amount}})
                        <md-icon md-list-icon (click)="onAddItemToShoppingList(ingredient)" mdTooltip="Add to shoppinglist" mdTooltipPosition="after">add_circle_outline</md-icon>
                    </md-list-item>
                </md-list> -->